name: "Main"
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v14
        with:
          name: apljungquist-rs4a
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Install dependencies
        run: nix develop --ignore-env --command make
      - name: Run checks
        run: nix develop --ignore-env --command make check
